    <div class="players">
        <h3>Aangemelde spelers</h3>
        
        <!-- Show the players -->
        <% for(const id in players) { %>
            
            <div class="player">
                <h2><%= players[id].username %> <img src="/flags/<%= players[id].country.toLowerCase(); %>.png" alt=""></h2>
                <p>XP</p>
                <p class="bold"><%= formatXP(players[id].xp) %></p>
                <p>Win/games</p>
                <p class="bold"><%= players[id].gameswon %> / <%= players[id].gamesplayed %> <%= calculatePrices(players[id].gameswon, players[id].gamesplayed) %></p>
            </div>

        <% } %>
        <% 
        const count = Object.keys(players).length;
        if(count === 0) { %>
            <p>Er zijn nog geen spelers toegevoegd tot de lijst</p>
        <% } %>
    </div>