    <div class="players">
        <h3>Aangemelde spelers</h3>
        
        <!-- Show the players -->
        <% if (players.length > 0) { %>
            <% players.forEach(player => { %>
                <div class="player">
                    <h2><%= player.username %> <img src="https://www.countryflags.io/<%= player.country %>/flat/64.png" alt=""></h2>
                    <p>XP</p>
                    <p class="bold"><%= formatXP(player.xp) %></p>
                    <p>Win/games</p>
                    <p class="bold"><%= player.gameswon %> / <%= player.gamesplayed %> <%= calculatePrices(player.gameswon, player.gamesplayed) %></p>
                    <p>Last update</p>
                    <p class="bold"><%= moment(player.updatedAt).locale('nl').format('DD MMMM YYYY - HH:mm') %></p>
                </div>
                
            <% }) %>
        <% } else { %>
            <p>Er zijn nog geen spelers toegevoegd tot de lijst</p>
        <% } %>
    </div>