<%- include('./functions.ejs') %>
<% currentPage = 'home' %>
<!DOCTYPE html>
<html lang="nl">
<%- include('./partials/head.ejs') %>
<body>
    
    <!-- Navigation -->
    <%- include('./partials/navigation.ejs') %>

    <div class="hero">

        <div class="hero--text">
            
            <!-- Logo -->
            <img src="/logo.png" alt="">
        </div>

    </div>

    <a name="info"></a>
    <section class="info">
        <div class="content no-top-padding">
            <h2>Oh no, Oh no, Oh no no no no no</h2>
            <p>Welp, dit is genant. Iemand van onze IT aapjes heeft deze pagina kapot gemaakt. Dit zal jammer genoeg een snackje minder worden deze avond.</p>
            <p>Maar geen nood, we kunnen dit oplossen! <a href="/">Ga terug naar start en probeer opnieuw</a>. Mocht het probleem zich blijven voordoen, contacteer dan even de opperaap (aka Matf1x himself)</p>
            
        </div>
    </section>

    <a name="register"></a>
    <%- include('./partials/sponsors.ejs') %>

    <a name="who"></a>
    <%- include('./partials/whois.ejs'); %>

    <!-- The footer -->
    <%- include('./partials/footer.ejs'); %>

</body>
</html>