<%- include('./functions.ejs') %>
<% currentPage = 'home' %>
<!DOCTYPE html>
<html lang="nl">
<%- include('./partials/head.ejs') %>
<body>
    
    <!-- Navigation -->
    <%- include('./partials/navigation.ejs') %>

    <div class="hero">

        <div class="hero--text">
            
            <!-- Logo -->
            <img src="/logo.png" alt="">

            <!-- Buttons -->
            <div class="buttons">
                <a href="#register" class="focus">Inschrijven</a>
            </div>
        </div>

    </div>

    <a name="info"></a>
    <section class="info">
        <div class="content no-top-padding">
            <h2>Het allereerste TETR.IO toernooi</h2>
            <h2>ZATERDAG 1 MEI vanaf 19u</h2>
            <p>Tetris, wie kent het spel niet? Het mag dan voor het eerst het levenslicht gezien hebben in 1984, het kan de huidige generatie nog steeds bekoren. En nu, in 2021 is de game in Twitch Vlaanderen aan een heuse revival bezig.</p>
            <p>Daarom hebben wij besloten, een Tetris toernooi te organiseren. We zullen het maar benoemen: Ja, we springen op de HYEP trein! Maar, geef toe, wie heeft niet graag eens wat competitie in zijn leven? En let's be honest: sommigen wil zich een tetrisgod noemen, nu kunnen ze zich bewijzen 😊!</p>
            
            <h3>Hoe werkt het toernooi?</h3>
            <p>Het toernooi zal als volgt gaan: op 1 mei zullen er 3 poules worden gemaakt. Één voor de echte pro's, één voor de semi-pro's en dan nog één voor de meer recreatieve spelers die het meer op hun gemakske willen doen. Zo zorgen we voor een fair speelveld op alle vlakken.</p>
            <p>Op de dag zelf zal op deze site de brackets te zien zijn en in welk kanaal jullie tetr.io moeten joinen. Wij zullen toezien dat niemand stiekem in de verkeerde room gaat. Ben je niet ingeschreven? Dan zal je zonder enige uitleg uit de kamer verwijderd worden!</p>
            <p>Er zullen verschillende rondes gespeeld worden. De winnaar krijgt 5 punten, de 2de 4 punten, enzoverder tot de 5de plek. Na elke ronde zal ook de site geüpdatet worden met de juiste stand.</p>
            
            <h3>Zeg, hoeveel kost dat hier?</h3>
            <p>Aangezien dit vooral voor de fun is, is meedoen totaal gratis! Het enigste wat je moet afstaan, is wat tijd. Maar geef toe: Wat ga je er mee doen, nu alles nog toe is? Dus, pakt u iets om te drinken, schrijf je in en smijt die blokjes naar beneden.</p>

            <h3>Kunnen we iets winnen?</h3>
            <p>Dankzij onze geweldige sponsoren gaan we inderdaad prijzen kunnen weggeven 🎉🎉🎉. Dit gaat van waardebonnen bij <strong>Wablief!?</strong>, unieke custom shirts van <strong>Puma Press</strong> of een geweldige tetris bureaulamp dankzij <strong>The Pipeline</strong>, <strong>Lynndec</strong> & <strong>Comaid</strong>.</p>

            <h3>Hoe kan ik meedoen?</h3>
            <p>Dat is zo simpel, zelfs je oma kan het! Scroll naar onder (en bekijk even onze geweldige sponsoren 😉), en vul het formulier in. Je moet niet je volledige naam invullen (je mag zelfs Joske zeggen), maar je TETR.IO moet wel juist zijn. Klik dan op inschrijven en badabing badaboom, je bent ingeschreven.</p>
        </div>
    </section>

    <a name="register"></a>
    <%- include('./partials/sponsors.ejs') %>

    <section class="register">
        <div class="content no-top-padding">
            <h2>Inschrijven</h2>
            <div class="form-holder">
                <div>
                    <p>Inschrijven is heel simpel. Vul hiernaast je naam in en je TETR.IO gebruikersnaam. Klik vervolgens op Inschrijven en je bent ingeschreven. Je kan nakijken of de registratie is gelukt door even door te scrollen naar de deelnemerslijst hieronder.</p>
                    <h3>Belangrijke informatie</h3>
                    <ul>
                        <li>Je moet een geregistreerd account hebben op TETR.IO. Ben je niet geregistreerd, doe dat even. Kost maar een minuutje van je tijd. Je kan niet deelnemen met een anoniem account!</li>
                        <li>We baseren ons op je XP & aantal gewonnen matchen tegenover de aantal gespeelde matchen om uit te maken in welke bracket je komt.</li>
                        <li>Kan je uiteindelijk niet meedoen op de dag zelf? Laat het dan even weten via mail naar <strong>tetris@matfix.be</strong>.</li>
                    </ul>
                </div>
                <div>
                    <%- include('./partials/forms.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <a name="users"></a>
    <section class="users">
        <div class="content no-top-padding">

            <!-- The registered players -->
            <%- include('./partials/players.ejs'); %>
    
        </div>
    </section>

    <a name="who"></a>
    <%- include('./partials/whois.ejs'); %>

    <!-- The footer -->
    <%- include('./partials/footer.ejs'); %>

</body>
</html>